*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #e3f9ff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}
.calculator{
    background-color: #3a4452;
    min-height: 70vh;
    min-width: 20vw;
    padding: 25px 20px;
    border-radius: 15px;
}
.calculator h1{
    color: #e3f9ff;
    font-weight: bold;
}
.calculator input{
    text-align: right;
    height: 9vh;
    width: 100%;
    border: none;
    outline: none;
    font-size: 2em;
    font-weight: bold;
    padding: 10px 20px;
    background: transparent;
    color: #e3f9ff;
}
.calculator button{
    color: #e3f9ff;
    font-size: 2em;
    padding: 10px;
    height: 10vh;
    margin: 1%;
    border: 0px;
    box-shadow: -10px -10px 15px rgb(255, 255, 255, 0.1),5px 5px 15px rgb(0, 0, 0, 0.2);
    background: transparent;
}
.row button:active{
    background-color: #e3f9ff;
    color: #3a4452;
}
.row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: 10px 0px;
}
#ls{
    grid-column: 3/5;
}
